@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.container-card {
  display: block;
  float: left;
  width: 44%;
  margin-left: 4%;
  margin-bottom: 30px;
  .card {
    background-color: black;
    color: white;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    .card-image {
      height: 500px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      background-color: transparent!important;
    }

    .card-body{
      .card-title {
        text-align: center;
        font-weight: bold;
        font-size: 23px;
        color: white;
        margin-bottom: 2vh;
        text-shadow: $primary-color-temptress 4px 4px 3px;
        font-family: $primary-font-tech!important;
      }

      .card-text {
        text-align: center;
        overflow-y: auto;
      }

      .btn.btn-primary {
        font-size: 16px;
        background-color: #361125!important;
        border: none;
        margin: auto;
        display: block;
        font-weight: 700;
        padding: 13px;
      }
    }
  }
}

