@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

header{

  .logo{
    width: 80px;
    margin-right: 15px;
    margin-top: -15px;
  }

  .tab {
    font-family: $primary-font-tech!important;
    font-size: 22px;
    color: white;
    text-align: right;
    text-transform: uppercase;
  }

  .login-links {
    display: flex;
  }

  @media screen and (min-width: 992px){

    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      justify-content: flex-end;
    }
  }


  .navbar-toggler {
    background-color: white;
  }

  .title {
    font-family: $primary-font-start2p;
    font-size: $font-size-title-base;
    text-shadow: black 5px 4px 5px;
    color: white;
    text-align: left;
    position: relative;
    text-transform: uppercase;
  }


  @media screen and (max-width: 594px) {
    .title {
      font-size: $font-size-title-base * 0.7;
    }
  }

  @media screen and (max-width: 500px) {
    .title {
      font-size: $font-size-title-base * 0.6;
    }
    .logo {
      width: 60px;
    }
  }

  @media screen and (max-width: 428px) {
    .title {
      font-size: $font-size-title-base * 0.5;
    }
    .logo {
      width: 50px;
    }
  }

  .bg-color {
    background-color: $primary-color-tamarind!important;
  }

  .bg-color2 {
    background-color: $primary-color-gondola!important;
  }

}
