@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

header{

  .logo{
    width: 110px;
    margin-right: 15px;
    margin-top: -25px;
  }

  .tab {
    font-family: $primary-font-spectral!important;
    font-size: 22px;
    color: white;
    text-align: right;
  }


  .title {
    font-family: $primary-font-start2p;
    font-size: 65px!important;
    text-shadow: black 6px 5px 6px;
    color: white;
    text-align: left;
    margin-right: 20%;
  }

  .bg-color {
    background-color: $primary-color-tamarind!important;
  }

  .bg-color2 {
    background-color: $primary-color-gondola!important;
  }

  .border {
    background-color: $primary-color-temptress!important;
    border-color: black!important;
    border-width: 3.5px!important;
    .image {
      height: 3vh;
      width: 100%;
      background-image: url('../../../assets/images/border2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

}
