header{

  .logo{
    width: 110px;
    margin-right: 15px;
    margin-top: -25px;
  }

  .tab {
    font-family: 'Spectral SC', serif!important;
    font-size: 28px;
    margin-left: 24px;
    color: white;
    text-shadow: black 4px 3px 4px;
  }

  .title {
    font-family: 'Press Start 2P', cursive;
    font-size: 65px!important;
    text-shadow: black 6px 5px 6px;
    color: white;
    margin-right: 480px;
  }

  .temptress {
    background-color: #411d31!important;
  }

}
