<app-carousel></app-carousel>

<div class="contenitore paragrafo bg-color">
  <h2>What is GameKind?</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, quibusdam.
    Ea adipisci minus aperiam? Ex ab distinctio quod, alias officiis nobis earum
    nisi ducimus voluptatem reiciendis animi voluptatibus! Provident dolor rem
    eaque, quasi eius natus officia reprehenderit ut ab magnam voluptates
    aperiam quisquam unde nemo aliquam animi libero aliquid culpa adipisci.
    Dignissimos, quasi. Nostrum odio aspernatur iste ex nobis aliquam tempore
    odit repellat sunt libero, id mollitia possimus dignissimos perspiciatis
    fuga impedit qui modi, facere pariatur, nesciunt reprehenderit eveniet! Quis
    rerum accusantium soluta. Illum accusamus dolores cumque doloribus quas,
    labore quasi reprehenderit dicta quos sequi illo explicabo neque esse
    similique hic necessitatibus tenetur repudiandae id sit modi velit?
    Inventore, vel! Eveniet eius adipisci ipsam quas ad! Ducimus reprehenderit
    fugiat iusto mollitia. Illo at aliquam aperiam quod earum perspiciatis
    error. Voluptas laboriosam quia totam ad sint neque ipsam, recusandae soluta
    voluptates officia, obcaecati ex exercitationem sit consequatur accusantium
    sed blanditiis maiores assumenda possimus porro deleniti veritatis enim.
    Laborum rem vitae nulla deserunt dolorum omnis, aperiam sequi, ex maiores
    rerum beatae eveniet mollitia ad! Minima, quidem! Ipsum accusamus aut itaque
    praesentium, doloremque maxime perspiciatis ratione, velit earum enim fuga
    nostrum? Expedita iusto obcaecati incidunt assumenda ipsum recusandae
    tempore debitis ullam libero dicta atque, iste reiciendis doloremque
    laudantium sequi eligendi quos dolorem impedit itaque reprehenderit!
    Doloribus, quibusdam. Maiores, eligendi. Aliquid beatae quibusdam nisi
    consequuntur, possimus ratione impedit recusandae quo exercitationem
    voluptas debitis provident, esse explicabo officiis officia modi!
    Consequatur ducimus, dicta distinctio beatae assumenda sint illo quod
    aliquam. Nobis labore natus recusandae molestias ex autem fugit? Vero
    assumenda voluptate recusandae, mollitia doloribus expedita ipsum, minima
    quos veniam quaerat quae saepe! Pariatur obcaecati facilis eaque laudantium
    magnam consequatur ab quis, provident quos ex saepe maxime odio distinctio
    neque sequi doloribus at repellendus dolores atque! Harum impedit voluptates
    quae, nemo aperiam earum sed iste cumque?
  </p>
</div>
