@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.paragrafo {
  color: white;

  h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: $primary-font-tech;
    text-shadow: black 3px 2px 3px;
    text-transform: uppercase;
  }

  h5 {
    font-family: $primary-font-tech;
    font-weight: bold;
    font-size: 20px;
  }

  p {
    padding-bottom: 15px;
  }

  hr {
    background-color: black;
    border: none;
    height: 3px;
  }
}
