// Primary colors
$primary-color-temptress: #411D31;
$primary-color-gondola: #28141D;
$primary-color-buccaneer: #602c2c;
$primary-color-bossanova: #402751;
$primary-color-tamarind: #3a162a;

// Secondary colors

