// Primary Fonts
$primary-font-montserrat: 'Montserrat', sans-serif;
$primary-font-start2p: 'Press Start 2P', cursive;
$primary-font-spectral: 'Spectral SC', serif;
$primary-font-tech: 'Share Tech Mono', monospace;

// Utility
$font-size-title-base: 50px;

// Secondary Fonts
