@import '../../../../styles/fonts.scss';

#container {
  color: white;
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  height: 55vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: $primary-font-tech ;

  h1 {
    padding-bottom: 15px;
  }

  h4 {
    padding-bottom: 10px;
  }

  hr {
    border: none;
    border: black solid 3px;
    width: 100%;
  }

  ul {
    list-style-type: none;

    li {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}
