@import '../../../../styles/colors.scss';

section {
  color: white;
  width: 50%;
  margin: 50px auto 50px auto;

  h2 {
    text-align: center;
    font-weight: 900;
  }

  .row {
    margin-top: 29px;

    label.form-label {
      margin-bottom: -1px;
      margin-left: -10px;
      font-size: 13px;
      font-weight: 900;
    }
  }

  div#registrarti {
    text-align: center;
    font-size: 13px;

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }


button.btn.btn-primary {
  margin: 37px auto;
  background: $primary-color-gondola;
  --bs-btn-color: #fff;
  --bs-btn-bg: #28141D;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #28141D;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #28141D;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #black;
  --bs-btn-disabled-border-color: #28141D;
}

}
