@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';

// .contenitore {
//   border-radius: 25px;
//     width: 75%;
//     margin: 20px auto;
//     border: 2px solid black;
//     padding: 0!important;
//     color: white;
//     background-color: $primary-color-bossanova;

//     .text-center {
//       font-family: $primary-font-tech!important;
//       font-size: 50px;
//     }

//     .colonna-dx {
//       background-image: url('../../../../assets/images/image-reg.jpg');
//       background-size: cover;
//       background-repeat: no-repeat;
//       border-radius: 0px 25px 25px 0px;
//     }

//     a {
//       color: rgb(161, 161, 161);
//       text-decoration: none;
//   }

//   .btn.btn-primary {
//     background: $primary-color-buccaneer;
//     border: 1px solid $primary-color-buccaneer;
//     margin-left: 0px;
//   }
// }


// .mat-icon {
//   position: relative;
//   top: 6px;
// }


// input.ng-invalid.ng-touched {
//   border: 1px solid red;
// }


.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  background-image: url('../../../../assets/images/image-reg.jpg');
}

input.ng-valid.ng-touched {
  border: 1px solid rgb(55, 163, 40);
}
.is-danger {
  font-size: 11px;
    color: white;
    text-align: right;
    margin-top: -17px;
    font-weight: 900;
}
