/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "~bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";
@import "styles/colors.scss";
@import "styles/fonts.scss";


body {
  font-family: $primary-font-montserrat!important;
  background-color: $primary-color-temptress!important;
}

h1 {
  font-family: $primary-font-start2p!important;
}

.bg-color {
  background-color: $primary-color-temptress!important;
}

.bg-color2 {
  background-color: $primary-color-gondola!important;
}

.contenitore {
  width: 100%;
  padding: 20px;

  h2 {
    font-weight: bold;
    font-size: 35px;
  }

  p {
    text-align: justify;
  }
}

#carousel {
  .carousel {
    clear: both;

    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 6rem!important;
      height: 6rem!important;
      border-radius: 50%;
      background-color: $primary-color-temptress;
    }

    .carousel-inner {

      .carousel-slide {
        display: block;
        height: 15vh;
        background-color: black;
      }

      .carousel-caption {
        bottom: 5%;
        text-align: center !important;
        h3 {
          text-align: center;
          font-family: $primary-font-tech!important;
          font-size: 45px;
          text-shadow: black 5px 4px 5px;
          color: white;
        }
      }
    }
  }
}

#carousel-sec {
  .carousel {
    clear: both;

    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 6rem!important;
      height: 6rem!important;
      border-radius: 50%;
      background-color: $primary-color-temptress;
    }

    .carousel-inner {

      .carousel-slide {
        display: block;
        height: 15vh;
        background-color: black;
      }

      .carousel-caption {
        text-align: center !important;
        h3 {
          font-family: $primary-font-tech!important;
          font-size: 45px;
          text-shadow: black 5px 4px 5px;
          color: white;
        }
      }
    }
  }
}

.last-photo{
  text-shadow: black 3px 2px 3px;
  color: white;
}

footer {
  clear: both;
}


