@import "../../../../styles/fonts.scss";

.image {
  height: 850px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contenitore {
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3vh;
  padding-bottom: 3vh;

  h2 {
    text-align: center;
    padding-right: 30%;
    padding-bottom: 3vh;
    font-family: $primary-font-tech;
    text-shadow: black 3px 3px 3px;
    font-size: 40px;
  }

  h5 {
    text-align: right;
    font-weight: 600;
    margin-bottom: 0px;
    padding-left: 5%;
  }


  p {
    padding-right: 30%;
    margin-top: -10vh;
    text-align: left;
  }

}
