<div class="bg-color">
  <div *ngIf="game">
    <div
      class="image"
      [ngStyle]="{ 'background-image': 'url(' + game.image + ')' }"
    ></div>

    <div class="contenitore">
      <div>
        <h2>{{ game.title | uppercase}} </h2>
      </div>
      <div>
        <div class="tag">
        <h5>GENRE: {{ game.genre }}</h5>
        <h5>MULTIPLAYER: {{ game.multiplayer }}</h5>
        <h5>DEVELOPER: {{ game.developer }}</h5>
        </div>
        <div>
          <p>{{ game.description }}</p>
        </div>

      </div>

    </div>

    <div *ngIf="game === undefined || !game">
      We're sorry, the game is no longer categorized on this page!
    </div>
  </div>
</div>
