@import "../../../../styles/fonts.scss";

.image {
  height: 850px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contenitore {
  color: white;
  padding-right: 3%;

  h2 {
    text-align: left;
    padding-top: 2vh;
    padding-left: 19%;
    font-family: $primary-font-tech;
    font-size: 50px;
  }
  .tag {
    h5 {
      position:relative;
      padding-bottom: 1vh;
      text-align: right;
      font-weight: bold;
      margin-top: -0.5vh;
    }
  }

  .paragrafo {
    p {
      position: relative;
      margin-top: -10vh;
      text-align: left;
      padding-right: 40%;
      padding-left: 7%;
    }
  }


}
