<div class="bg-color">
  <div *ngIf="game">
    <div
      class="image"
      [ngStyle]="{ 'background-image': 'url(' + game.image + ')' }"
    ></div>
    <app-border></app-border>

    <div class="contenitore">
      <div class="paragrafo">
        <h2>{{ game.title | uppercase}} </h2>
        <hr>
        <p>{{ game.description }}</p>
      </div>
      <div class="divisore"></div>
        <div class="tag">
          <h5><span>[</span> Genre:     <strong>{{ game.genre }} </strong><span>]</span></h5>
          <h5><span>[</span> Developer:     <strong>{{ game.developer }} </strong><span>]</span></h5>
          <h5><span>[</span> Multiplayer:     <strong>{{ game.multiplayer.toString() | uppercase}} </strong><span>]</span></h5>
        </div>
        <button type="button" class="btn btn-primary">BACK</button>
    </div>

    <div *ngIf="game === undefined || !game">
      We're sorry, the game is no longer categorized on this page!
    </div>
  </div>
</div>
