<footer class="temptress">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link tab" href="#"><i class="pi pi-discord"></i> Discord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" href="#"><i class="pi pi-instagram"></i> Instagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" href="#"><i class="pi pi-facebook"></i> Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" href="#"><i class="pi pi-github"></i> Github</a>
      </li>
    </ul>
</footer>
