@import '../../../styles/colors.scss';

footer {
  color: white;
  height: 200px;
  width: 100%;

  .navbar-nav {
    padding-top: 1vh!important;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;

    .pi {
      font-size: 27px!important;
    }
  }

  .logo {
    size: 50%;
  }

}
