footer {
  color: white;
  height: 200px;
  padding: 10px;
  width: 100%;

  .tab {
    text-align: right;
    size: 200%;
  }

  .navbar-nav {
    text-align: right;
    flex-direction: row!important;
    margin-left: 90%;
    margin-top: 12vh;
    .nav-item {
      padding-left: 10%;
      ////////////////////////////////////////////////
    }
  }

}
